{
	"globals": {
		"window": true,
		"document": true
	  },
	"extends": ["airbnb/base"],
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"requireConfigFile": false
	  },
	"rules": {
		"no-param-reassign": 0 
	},
	"env": {
		"browser": true
	}
}
